@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Inter", system-ui, -apple-system, sans-serif;
	background-color: #ffffff;
	color: #226797; /* Secondary color for text */
}

body {
	margin: 0;
	min-height: 100vh;
}

#root {
	width: 100%;
}
